TZ="Asia/Baku"

# Get a Neon Database URL, and set it as DATABASE_URL (Connection pooler: true)
DATABASE_URL=""
# Get a Neon Database DIRECT URL, and set it as DIRECT_URL (Connection pooler: false)
DIRECT_URL=""

# You will need to create a Google Cloud project, enable the Google Calendar API, and create OAuth 2.0 credentials to get these values.
GOOGLE_CLIENT_ID= "*********************"
GOOGLE_CLIENT_SECRET="***********************"
GOOGLE_REDIRECT_URI="http://localhost"
GOOGLE_TOKEN='{
  "type": "*****",
  "client_id": "**********",
  "client_secret": "************",
  "refresh_token": "**********************************"
}'


LOCALHOST_BASE_URL='http://localhost:3000'
# If you delete sticker generator, you can remove this env variable and its usage in the codebase.
# If you want to use it, please use the repo, and deploy it to vercel, and get a url. 
STICKER_BASE_URL="https://*******.vercel.app"
# You can get an API key from OpenRouter, and set it here. 100 free requests per month.
OPENROUTER_API_KEY="**********************************"
# For pdf handler, get those from Adobe PDF Services API, and set them here.
ADOBE_CLIENT_ID="**********************************"
ADOBE_CLIENT_SECRET="**********************************"