# NOTE: If you change or delete any variable, also delete them from lib/env.ts file, otherwise app will crash.


TZ="Asia/Baku"
LOCALHOST_BASE_URL='http://localhost:3000'

# Get a Neon Database URL, and set it as DATABASE_URL (Connection pooler: true)
DATABASE_URL=""
# Get a Neon Database DIRECT URL, and set it as DIRECT_URL (Connection pooler: false)
DIRECT_URL=""

# You will need to create a Google Cloud project, enable the Google Calendar API, and create OAuth 2.0 credentials to get these values.
# If you don't use google calendar integration, delete these variables and their related codes in the codebase.
# If you just forked the repo to run for yourself, delete these and related codes in database.
GOOGLE_CLIENT_ID= "*********************"
GOOGLE_CLIENT_SECRET="***********************"
GOOGLE_REDIRECT_URI="http://localhost"
GOOGLE_TOKEN='{
  "type": "*****",
  "client_id": "**********",
  "client_secret": "************",
  "refresh_token": "**********************************"
}'

# I highly recommend to use a second phone number for bot.
# These are mandatory variables, SUPER_ADMIN is your phone number which will you use to message
# and UNIBOT phone number is the one you use for bot.
UNIBOT_PHONE_NUMBER="994501112233@c.us"
SUPER_ADMIN_PHONE_NUMBER="994501112233@c.us"

# Create two groups which UNIBOT_PHONE_NUMBER is Admin, and set their ids here.
# You can send "/confirm" message to the groups while bot is active, to get group ids and set them here.
TEST_GROUP_ID="*****************@g.us"
LOG_GROUP_ID="******************@g.us"


# These groups ids must be DELETED if you just forked repo to run for yourself, 
# but delete the cron jobs and other NOTE parts in bot.service.ts
# See constants.ts file for usage of these variables.
INFORMATION_GROUP_ID="****************@g.us" 
UNICHAT_GROUP_ID="**************@g.us"
FINAL_EXAM_GROUP_ID="****************@g.us"


# If you delete sticker generator and related code, you can remove this env variable and its usage in the codebase.
# If you want to use it, please use the repo, and deploy it to vercel, get a url. 
# https://github.com/yusifaliyevpro/sticker-generator
STICKER_BASE_URL="https://*******.vercel.app"


# You can get an API key from OpenRouter, and set it here. 100 free requests per day.
# This is required for Game Service.
OPENROUTER_API_KEY="**********************************"


# For pdf handler, get those from Adobe PDF Services API, and set them here.
# You can delete pdf.handler.ts and related code if you don't want to use the PDF handler.
ADOBE_CLIENT_ID="**********************************"
ADOBE_CLIENT_SECRET="**********************************"